@model _1stBlog.Models.ViewModels.LoginViewModel
<style>
    input {
        all: unset;
        padding: 10px;
        border: 1px solid rgb(219,219,219);
        margin-top: 10px;
        background-color: rgb(250,250,250);
        border-radius: 5px;
    }

        input:focus,
        input:active {
            border: 1px solid rgba(38,38,38, 0.4);
        }

    * {
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }
</style>

<body style="background-color: #fafafa; height:100vh; margin: 0px;">
    <div style="
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
height: 90%;
">
        <!--LEFT DIV-->
        <div class="left" style="
height: 700px;
width: 430px;
background-image:url(https://instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png);
background-repeat: no-repeat;
transform: scale(1.125);
margin-right: 40px;
margin-top: 70px;
">
            <img src="/images/screen1.png" style="
position: relative;
top: 28px;
left: 155px" />
        </div>
        <!--RIGHT DIV-->
        <form method="post">
        <div class="right" style="margin-top: -115px">
            <div style="
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: stretch;
align-items: center;
width: 350px;
background-color: white;
border: 1px solid rgb(219,219,219);
font-family: -apple-system;
padding: 35px;
margin: 20px;
">
                <img src="/images/Instagram_logo.svg.png" width="175" height="55" />
                
                <input type="text" id="username" asp-for="Username"
                       placeholder="Логин" />
                <input type="password" id="password" asp-for="Password"
                       placeholder="Пароль" />
       <!--ВОЙТИ-->        
                    <div><button type="submit" class="btn btn-dark" style="
margin-top:10px;
border-radius: 5px;
padding: 10px;
width: 210px;">
                            Войти
                        </button>
                    </div>
                </form>
                <input type="hidden" asp-for="ReturnUrl" />
                <div style="
display:flex;
margin-top: 30px;
flex-direction: row;
align-items: center">
                    <div style="
background-color: rgb(219,219,219);
height: 1px;
width: 140px;"></div>
                    <!--ИЛИ-->
                    <div style="
font-weight: 600;
color: gray;
padding: 0px 20px 0px 20px">
                        СКОРО
                    </div>
                    <div style="
background-color: rgb(219,219,219);
height: 1px;
width: 140px;"></div>
                </div>
                <!--ВОЙТИ ЧЕРЕЗ ВК-->
                <div style="
text-align: center;
margin-top: 20px;
color: rgb(56,81,133);
font-weight: 600;
font-size: 18px;
">
                    <span><img src="/images/vk_logo.png" width="30" height="30"</span>
                    <span>Войти c Вконтакте</span>                   
                </div>
            </div>
            <div style="
background-color: white;
border: 1px solid rgb(219,219,219);
text-align: center;
padding: 20px;
margin: 20px">
                Нету аккаунта?
                <span style="color: rgba(0,149,246,1); font-weight: 600"><a asp-area="" asp-controller="Account" asp-action="Register">Зарегистрировтаься</a></span>
                
            </div>
        </div>
</body>
